<!--Page for viewing a specific beach and the reviews for that beach-->
<!--Logged in users can add new reviews-->
<section class="section">
    <div class="container">
        <!--Beach Name-->
        <div class="title is-1">
            <h1>{{beach.name}}</h1>
        </div>
        <!--Weather Data Section-->
        <div class="card has-background-dark">
            <div class="card-content has-text-white-ter">
                <div class="content">
                    As of: {{apiData.tide.time}}
                </div>
                <div class="content">
                    Sea Level: {{apiData.tide.sg}} meters
                </div>
                <div class="content">
                    Swell Direction: {{apiData.swellDirection}}째
                </div>
                <div class="content">
                    Swell Height: {{apiData.swellHeight}} meters
                </div>
                <div class="content">
                    Swell Period: {{apiData.swellPeriod}} seconds
                </div>
                <div class="content">
                    Water Temperature: {{apiData.waterTemp}} 째C
                </div>
                <div class="content">
                    Wind Direction: {{apiData.windDirection}}째 (0째 is north)
                </div>
            </div>
        </div>
        <!--Add Review Section-->
        {{#if loggedIn}}
        <div class="title is-4" style="margin-bottom: 10px;">
            <h1>Add New Review:</h1>
        </div>
        <div class="field">
            <p class="control">
                <input class="input" type="text" id="review-title" placeholder="Title">
            </p>
        </div>
        <form style="margin-top: 10px;">
            <div>
                <textarea class="textarea" name="review-body" placeholder="Enter Review"></textarea>
            </div>

            <div style="padding: 10px;">
                <button class="button is-accentSecondary is-rounded review-submit" type="submit">add
                    review</button>
            </div>
        </form>
        {{/if}}
        <!--View Reviews Section-->
        <div class="title has-text-centered is-3" style="margin-bottom: 10px;">
            <h1>Reviews:</h1>
        </div>
        {{#each beach.reviews as |review|}}
        {{> review-info review }}
        {{/each}}
    </div>
</section>

<!--Load scripts to process adding reviews-->
{{#if loggedIn}}
<script src="/javascript/review.js"></script>
{{/if}}